/* Coolors Exported Palette - https://coolors.co/bea19a-64a1b2-231b1b-f7753c */

/* CSS HEX */
--rosy-brown: #BEA19Aff;
--moonstone: #64A1B2ff;
--licorice: #231B1Bff;
--orange-crayola: #F7753Cff;

/* CSS HSL */
--rosy-brown: hsla(12, 22%, 67%, 1);
--moonstone: hsla(193, 34%, 55%, 1);
--licorice: hsla(0, 13%, 12%, 1);
--orange-crayola: hsla(18, 92%, 60%, 1);

/* SCSS HEX */
$rosy-brown: #BEA19Aff;
$moonstone: #64A1B2ff;
$licorice: #231B1Bff;
$orange-crayola: #F7753Cff;

/* SCSS HSL */
$rosy-brown: hsla(12, 22%, 67%, 1);
$moonstone: hsla(193, 34%, 55%, 1);
$licorice: hsla(0, 13%, 12%, 1);
$orange-crayola: hsla(18, 92%, 60%, 1);

/* SCSS RGB */
$rosy-brown: rgba(190, 161, 154, 1);
$moonstone: rgba(100, 161, 178, 1);
$licorice: rgba(35, 27, 27, 1);
$orange-crayola: rgba(247, 117, 60, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #BEA19Aff, #64A1B2ff, #231B1Bff, #F7753Cff);
$gradient-right: linear-gradient(90deg, #BEA19Aff, #64A1B2ff, #231B1Bff, #F7753Cff);
$gradient-bottom: linear-gradient(180deg, #BEA19Aff, #64A1B2ff, #231B1Bff, #F7753Cff);
$gradient-left: linear-gradient(270deg, #BEA19Aff, #64A1B2ff, #231B1Bff, #F7753Cff);
$gradient-top-right: linear-gradient(45deg, #BEA19Aff, #64A1B2ff, #231B1Bff, #F7753Cff);
$gradient-bottom-right: linear-gradient(135deg, #BEA19Aff, #64A1B2ff, #231B1Bff, #F7753Cff);
$gradient-top-left: linear-gradient(225deg, #BEA19Aff, #64A1B2ff, #231B1Bff, #F7753Cff);
$gradient-bottom-left: linear-gradient(315deg, #BEA19Aff, #64A1B2ff, #231B1Bff, #F7753Cff);
$gradient-radial: radial-gradient(#BEA19Aff, #64A1B2ff, #231B1Bff, #F7753Cff);