/* McLloyd Pise wdd230 main color palette - https://coolors.co/262a10-684e2e-a9714b-e8985e */

/* CSS HEX */
--drab-dark-brown: #262a10ff;
--coffee: #684e2eff;
--brown-sugar: #a9714bff;
--persian-orange: #e8985eff;

/* CSS HSL */
--drab-dark-brown: hsla(69, 45%, 11%, 1);
--coffee: hsla(33, 39%, 29%, 1);
--brown-sugar: hsla(24, 39%, 48%, 1);
--persian-orange: hsla(25, 75%, 64%, 1);

/* SCSS HEX */
$drab-dark-brown: #262a10ff;
$coffee: #684e2eff;
$brown-sugar: #a9714bff;
$persian-orange: #e8985eff;

/* SCSS HSL */
$drab-dark-brown: hsla(69, 45%, 11%, 1);
$coffee: hsla(33, 39%, 29%, 1);
$brown-sugar: hsla(24, 39%, 48%, 1);
$persian-orange: hsla(25, 75%, 64%, 1);

/* SCSS RGB */
$drab-dark-brown: rgba(38, 42, 16, 1);
$coffee: rgba(104, 78, 46, 1);
$brown-sugar: rgba(169, 113, 75, 1);
$persian-orange: rgba(232, 152, 94, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #262a10ff, #684e2eff, #a9714bff, #e8985eff);
$gradient-right: linear-gradient(90deg, #262a10ff, #684e2eff, #a9714bff, #e8985eff);
$gradient-bottom: linear-gradient(180deg, #262a10ff, #684e2eff, #a9714bff, #e8985eff);
$gradient-left: linear-gradient(270deg, #262a10ff, #684e2eff, #a9714bff, #e8985eff);
$gradient-top-right: linear-gradient(45deg, #262a10ff, #684e2eff, #a9714bff, #e8985eff);
$gradient-bottom-right: linear-gradient(135deg, #262a10ff, #684e2eff, #a9714bff, #e8985eff);
$gradient-top-left: linear-gradient(225deg, #262a10ff, #684e2eff, #a9714bff, #e8985eff);
$gradient-bottom-left: linear-gradient(315deg, #262a10ff, #684e2eff, #a9714bff, #e8985eff);
$gradient-radial: radial-gradient(#262a10ff, #684e2eff, #a9714bff, #e8985eff);