@media screen and (max-width:894px) {
    header,
    nav ul,
    main {
        display: flex;
        flex-direction: column;
    }
    header div {
        margin-top: 5px;
        flex-direction: column;
    }
    main h1 {
        text-align: center;
        margin: 0px 5px;
    }
    main hr {
        margin: 0px 5px;
    }
    main .card {
        margin: 5px 5px;
    }
    footer {
        text-align: center;
    }
}