@media screen and (max-width:894px) {
    header,
    nav ul,
    main {
        display: flex;
        flex-direction: column;
    }
    header div {
        margin-top: 5px;
        flex-direction: column;
    }
    .hero {
        width: 960px;
    }

    main h1 {
        text-align: center;
        margin: 0px 5px;
    }
    main hr {
        margin: 0px 5px;
    }
    main .card {
        margin: 5px 5px;
    }
    footer {
        text-align: center;
    }
}
@media (min-width: 37.5em) {
	h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
	}

	h2 {
		font-size: 2rem;
		text-align: center;
	}

	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}

	.stuff {
		margin: 1rem auto;
	}
}
